<h2> Rating statistics</h2>

<div class = "row">
	<div class = "col-md-3">
		<h4>Best breweries</h4>
		<%= render 'top_table', top: @top_breweries %>	
	</div>
	<div class = "col-md-3">
		<h4>Best beers</h4>
		<%= render 'top_table', top: @top_beers %>
	</div>
	<h4>Best Styles</h4>
	<div = class = "col-md-3">
		<%= render 'top_table', top: @top_styles %>
	</div>
</div>
<div class = "row">
	<h4>Most active users</h4>
	<div class = "col-md-5">

	</div>
</div>